#box {
  position: absolute;
  width: 760px;
  height: 760px;
  top: 40px;
  left: 40px;
  margin: auto;
  background-image: url(/javascript/images/bg.png);
  background-size: 40px 40px;

}
#bottom {
  position: absolute;
  width: 840px;
  height: 840px;
  margin: auto;
}
#token {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ff4d4d;
  z-index: 100;
}
.mur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-image: url(/javascript/images/log.png);
  background-size: 40px 40px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-image: url(/javascript/images/mur.png);
  background-size: 40px 40px;
  z-index: 50;
}
.murCassable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-image: url(/javascript/images/cobblestone.png);
  background-size: 40px 40px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.bombe {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(/javascript/images/tnt.png);
  background-size: 40px 40px;
}
.feu {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(/javascript/images/fire.png);
  background-size: 40px 40px;
}
.enemies {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: blue;
  background-size: 40px 40px;
}
.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
  text-align: center;
  top: 0;
  left: 0;
}
.victory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 51, 133, 0.3);
  z-index: 200;
  text-align: center;
  top: 0;
  left: 0;
}
.gameOver h1{
  margin: 0;
}
.victory h1{
  margin: 0;
  color: rgb(255, 255, 102);
}
body {
  display: flex;
  justify-content: center;
  background-color:  #aaff80;
}
