:root {
  font-size: 20px;
}

#feu {
  position: fixed;
  top: -40px;
  left: -40px;
  background-image: url("/javascript/images/fire.png");
  height: 40px;
  width: 40px;
  content: "";
}

#box {
  position: absolute;
  width: 760px;
  height: 760px;
  top: 40px;
  left: 40px;
  margin: auto;
  background-image: url("/javascript/images/bg.png");
  image-rendering: pixelated;
  background-size: 40px 40px;
}
#bottom {
  position: absolute;
  width: 840px;
  height: 840px;
  margin: auto;

}
.token {
  position: absolute;
  background: url("/javascript/images/token/token.png");
  background-size: 250px;
  z-index: 100;
  height: 40px;
  width: 40px;
  image-rendering: pixelated;
}

.still {
  background-position: -10px -132.5px;
}

.up2 {
  background-position: -10px -7.5px;
}
.up {
  background-position: -10px -70px;
}
.bottom2 {
  background-position: 112.5px -7.5px;
}
.bottom {
  background-position: 112.5px -70px;
}
.left2 {
  background-position: 52.5px -7.5px;
}
.left {
  background-position: 52.5px -70px;
}
.right2 {
  background-position: -72.5px -7.5px;
}
.right {
  background-position: -72.5px -70px;
}

.mur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-image: url("/javascript/images/log.png");
  image-rendering: pixelated;
  background-size: 40px 40px;
  z-index: 15;
}
.border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-image: url("/javascript/images/stone_bricks.png");
  image-rendering: pixelated;
  background-size: 40px 40px;
  z-index: 20;
}
.murCassable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-image: url("/javascript/images/cobblestone.png");
  image-rendering: pixelated;
  background-size: 40px 40px;
  z-index: 10;
}
.mur:before {
  background: transparent;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.murCassable:before {
  background: transparent;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.bombe {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("/javascript/images/tnt.png");
  image-rendering: pixelated;
  background-size: 40px 40px;
  z-index: 1;
}
.bombe::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  image-rendering: pixelated;
  background-size: 40px 40px;
  animation-name: bombAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.feu {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 40px;
  image-rendering: pixelated;
  background-image: url("/javascript/images/fire.png");
  animation: 1.5s step-end infinite scrollFireSprite;
  z-index: 1;
}
.enemies {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: blue;
  background-size: 40px 40px;
}
.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
  text-align: center;
  top: 0;
  left: 0;
}
.victory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 51, 133, 0.3);
  z-index: 200;
  text-align: center;
  top: 0;
  left: 0;
}
.gameOver h1{
  margin: 0;
}
.victory h1{
  margin: 0;
  color: rgb(255, 255, 102);
}
body {
  display: flex;
  justify-content: center;
  background-color:  #aaff80;
}
.bombUp {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/javascript/images/backpack.png");
}
.powerUp {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/javascript/images/gunpowder.png");
}
.piercingBomb {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/javascript/images/arrow.png");
}
.invincibility {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/javascript/images/diamond_chestplate.pn");
}
.enemiesFreeze {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/javascript/images/slime_ball.png");
}
.display {
  position: fixed;
  top: 50px;
  left: 150px;
  display: flex;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  flex-direction: column;
}
@keyframes scrollFireSprite {
    0% { background-position-y: calc(-40px * 0); }
    3.22580% { background-position-y: calc(-40px * 1); }
    6.45161% { background-position-y: calc(-40px * 2); }
    9.67741% { background-position-y: calc(-40px * 3); }
    12.9032% { background-position-y: calc(-40px * 4); }
    16.1290% { background-position-y: calc(-40px * 5); }
    19.3548% { background-position-y: calc(-40px * 6); }
    22.5806% { background-position-y: calc(-40px * 7); }
    25.8064% { background-position-y: calc(-40px * 8); }
    29.0322% { background-position-y: calc(-40px * 9); }
    32.2580% { background-position-y: calc(-40px * 10); }
    35.4838% { background-position-y: calc(-40px * 11); }
    38.7096% { background-position-y: calc(-40px * 12); }
    41.9354% { background-position-y: calc(-40px * 13); }
    45.1612% { background-position-y: calc(-40px * 14); }
    48.3870% { background-position-y: calc(-40px * 15); }
    51.6129% { background-position-y: calc(-40px * 16); }
    54.8387% { background-position-y: calc(-40px * 17); }
    58.0645% { background-position-y: calc(-40px * 18); }
    61.2903% { background-position-y: calc(-40px * 19); }
    64.5161% { background-position-y: calc(-40px * 20); }
    67.7419% { background-position-y: calc(-40px * 21); }
    70.9677% { background-position-y: calc(-40px * 22); }
    74.1935% { background-position-y: calc(-40px * 23); }
    77.4193% { background-position-y: calc(-40px * 24); }
    80.6451% { background-position-y: calc(-40px * 25); }
    83.8709% { background-position-y: calc(-40px * 26); }
    87.0967% { background-position-y: calc(-40px * 27); }
    90.3225% { background-position-y: calc(-40px * 28); }
    93.5483% { background-position-y: calc(-40px * 29); }
    96.7741% { background-position-y: calc(-40px * 30); }
    100% { background-position-y: calc(-40px * 31); }
}

@keyframes bombAnimation {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  50%{
    background-color: rgba(255, 255, 255, 0.8);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}
